extends layout

block content
  div.jumbotron
      h1  Hello, world!
      p   sdfsdfasdfsadfsdfsdfasdfsadfsdfsdfasdfsadfsdfsdfasdfsad
      p Welcome to #{title}
      p Welcome to #{title_2}
      p   <a class="btn btn-primary btn-lg" role="button">Learn more</a>
      |   <div style="height: 400px"></div>
      |    <div id="footer" "><p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p></div>
